@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    CABA - Argentina<br />
    Caballito <br />
    <abbr title="Phone">P:</abbr>
    15-5555-6666
</address>

<address>
    <strong>Soporte:</strong> <a href="ss-chak@hotmail.es" </a><br />
</address>
